@model IEnumerable<SiteCoreTrainings.TDS_Entities.TDS_Gen.Trainings.Pages.Comment>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            @if (Model != null && Model.Any())
            {
                foreach (var comment in Model)
                {
                    <div><h4>@comment.Comment_Author</h4></div>
                    <div class="data-comment" >@Html.Raw(comment.Comment_Text)</div>
                    <div class="text-right">@comment.DateCreated.ToShortDateString()</div>
                    <hr />
                }
            }
        </div>
    </div>
</div>

