@using Sitecore.Mvc
@*@model Sitecore.Mvc.Presentation.RenderingModel*@
@model SiteCoreTrainings.Models.ViewModels.FooterModel
<footer class="text-center">
    @*<p>@Html.Sitecore().Field("FooterContent")</p>*@
    <p>@Model.FooterContent</p>
</footer>
